# NetBeans specific #
Project/nbproject/private/
Project/nbproject/private/private.properties
Project/nbproject/private/private.xml
Project/nbproject/project.properties
Project/build/
Project/nbbuild/
Project/dist/
Project/nbdist/
Project/nbactions.xml
Project/nb-configuration.xml

# Class Files #
Project/*.class

# Package Files #
Project/*.jar
Project/*.war
Project/*.ear